# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/
venv*/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore large files or logs
*.log

# Artifacts
*.pkl
*.tar.gz
*.csv

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Python
__pycache__/
.env
.pytest_cache/

# Generated training artifacts (recreated on every train.py run)
tmp_artifacts/